<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Sinfonier - <%= title || "" %></title>

  <link href='/webfonts/arvo/stylesheet.css' rel='stylesheet' type='text/css'>

  <%- cssTag('reset-fonts.css') %>
  <%- cssTag('skin.css') %>
  <%- cssTag('main.css') %>
  <%- cssTag('inputEx.css') %>
  <%- cssTag('sinfonier-theme/jquery-ui-1.10.4.custom.min.css') %>

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" href="/favicon.ico" sizes="32x32" />
  <%- jsTag('yui/utilities/utilities.js') %>
  <%- jsTag('jquery/jquery-1.11.0.min.js') %>
  <%- jsTag('jquery/jquery-ui-1.10.4.custom.min.js') %>

<!--[if IE]><script type="text/javascript" src="/javascripts/WireIt/lib/excanvas.js"></script><![endif]-->



</head>
<body>
<div id="doc3" class="yui-t7">
   <div id="hd">
     <div class="logo">
       <a href="/"><div id="logo">Sinfonier</div></a><span>/sin’fɒnjə/</span>
     </div>
		<% if(typeof current_user != "undefined") { %>
    
     <div id="nav">
     <ul>
        <li<% if(action == "dashboard") { %> class="current"<% } %>><a href="/dashboard">DASHBOARD</a></li>
			  <li<% if(action == "topologies") { %> class="current"<% } %>><a href="/topologies">TOPOLOGIES</a></li>
        <li<% if(action == "modules") { %> class="current"<% } %>><a href="/modules">MODULES</a></li>
        <li<% if(action == "users") { %> class="current"<% } %>><a href="/users">USERS</a></li>
			  <li><a href="/editor">EDITOR</a></li>
        <li><a href="/users/<%= current_user.name %>"><img src="/images/profile.png"></a></li>
        <li><a  href="/sessions/logout"><img src="/images/sign-out.png"></a></li>
			</ul>
			</div>
			<% } else { %>
      <div id="nav">
       <ul>
         <li<% if( typeof(action) != 'undefined' && action == "signin") { %> class="current"<% } %>><a href="/sessions/signin">SIGN IN</a></li>
       </ul>
     </div>
     <% } %>

   </div>
   <div id="bd">
	   <div class="yui-g">
	     <div class="pagewidth">
	      <!-- YOUR DATA GOES HERE -->
	      <%- body %>
	     </div>
	   </div>
	</div>
  <div id="ft">

    <div class="pagewidth">
      <div class="footer-links"><a href="/about/" >About Sinfonier</a> | <a href="/libraries/" >Packages</a> | <a href="/contributors/" >Contributors</a></div>
      <div class="powered"><span>Powered by</span> <img src="/images/logo_footer.gif"> </div>
     </div>
  </div>
</div>
<%- partial('partials/uservoice', { }) %>
</body>
</html>