<a class="new-wiring-button" href="/modules/new">NEW MODULE +</a>
<span style="float:right;">&nbsp;</span><a class="new-wiring-button" href="/mymodules">MY MODULES</a>
<span style="float:right;">&nbsp;</span><a class="new-wiring-button" href="/topmodules">TOP MODULES</a>
<h1>Modules (<%= total %>)</h1>
<form method="get" action="/modules">
  <div class="add-fields">
    <label for="q">Name</label>
    <input type="text" name="q" value="<%= typeof q == "undefined" ? "" : q %>" autofocus />
    <label for="owner">Owner</label>
    <input type="text" name="owner" value="<%= typeof owner == "undefined" ? "" : owner %>"  />
    <% if (current_user.isAdmin() ) {%>
    <label for="status">Status</label>
    <select name="status">
      <% [ '','pending', 'developing', 'published', 'private', 'deleted','predefined'].forEach(function(stat){ %>
      <option <%= stat== state ? 'selected':'' %> ><%= stat %></option>
      <%});%>
    </select>
    <% } %>
    <input class="search-button" type="submit" value="Search" />
    <% if( typeof q != "undefined" && q.length > 0)  { %>
    <a href="/modules">clear</a>
    <% } %>
    <% if (current_user.isAdmin() ) {%>
    <div class="add-fields">
      <label for="showdeleted">Show deleted</label>
      <input type="checkbox" name="showdeleted" <%= (typeof showdeleted == "undefined" || showdeleted == '') ? "" : "checked" %>  />
      <label for="inapropiated">Inapropiated</label>
      <input type="checkbox" name="inapropiated" <%= (typeof inapropiated == "undefined" || inapropiated == '') ? "" : "checked" %>  />
      <label for="informer">Informer</label>
      <input type="text" name="informer" value="<%= typeof informer == "undefined" ? "" : informer %>"  />
      <label for="datefrom">Date from</label>
      <input id="datefrom" type="text" name="datefrom" value="<%= typeof datefrom == "undefined" ? "" : datefrom %>" placeholder="yyyy-mm-dd" />
    </div>
    <% } %>
    <div class="add-fields"></div>
  </div>
</form>

<br /><br />

<div id="modules-list" >
  <%- partial('partials/module', { collection: modules, small: true }) %>
</div>

<% var currentpage = page || 1; %>
<div id="page-nav" style="display:none;">
  <% var addParams = current_user.isAdmin() && !(typeof state == "undefined" || state == '')  ? "&status="+state :""; %>
  <% addParams = addParams + (current_user.isAdmin() && !(typeof inapropiated == "undefined" || inapropiated == '') ? "&inapropiated=on&informer="+informer+"&datefrom="+datefrom+"&status="+state :""); %>
  <% addParams = addParams + (current_user.isAdmin() && !(typeof showdeleted == "undefined" || showdeleted == '') ? "&showdeleted=on" :""); %>
  <a href="/modules?page=<%= ""+(currentpage +1) %>&q=<%= q %>&owner=<%= owner %><%= addParams %>" >next</a>
</div>

<%- jsTag('modules.js') %>
<%- jsTag('masonry/masonry.pkgd.min.js') %>
<%- jsTag('masonry/multipleFilterMasonry.js') %>
<%- jsTag('infinitescroll/jquery.infinitescroll.min.js') %>

<script type="text/javascript" >
  $(function(){
    $("#datefrom").datepicker({
      dateFormat:"yy-mm-dd"
    });
  });
</script>
