
<a class="new-wiring-button" href="/modules/new">NEW MODULE +</a>
<span style="float:right;">&nbsp;</span><a class="new-wiring-button" href="/topmodules">TOP MODULES</a>
<h1>My Modules (<%= total %>)</h1>

<br /><br />

<div id="modules-list" >
  <%- partial('partials/module', { collection: modules, small: true }) %>
</div>

<% var currentpage = page || 1; %>
<div id="page-nav" style="display:none;">
  <a href="/mymodules?page=<%= ""+(currentpage +1) %>" >next</a>
</div>

<%- jsTag('modules.js') %>
<%- jsTag('masonry/masonry.pkgd.min.js') %>
<%- jsTag('masonry/multipleFilterMasonry.js') %>
<%- jsTag('infinitescroll/jquery.infinitescroll.min.js') %>

