<h1 style="display:inline-block;">New module </h1>
<div class="none">
  <a href="#" data-lang="java"    data-mode="text/x-java" class="term-show box-title lnk-Java">Java</a>
  <a href="#" data-lang="python"  data-mode="python" class="term-show box-title lnk-Python">Python</a>
</div>

<%- partial('modules/_form', { action: "new", small: true, method: "post", module: module, errors: errors }) %>
<!-- <div style="float:left;">&nbsp;</div><input style="float:left;cursor:pointer;" class="button orange show-code" type="button" value="Show me the code" /> -->
<div class="pagewidth">
  <div style="display:block;height:100px;"></div>
<div id="code-viewer" style="width:850px;height:1000px;display:none;">
  <% var template = {name:'MyClass','container':{type:'spout'}}; %>
  <%- partial('modules/_codeJava', { template: {name:'MyClass','container':{type:'spout'}}}) %>
  <%- partial('modules/_codeJava', { template: {name:'MyClass','container':{type:'bolt'}}}) %>
  <%- partial('modules/_codeJava', { template: {name:'MyClass','container':{type:'drain'}}}) %>
  <%- partial('modules/_codePython', { template: {name:'MyClass','container':{type:'spout'}}}) %>
  <%- partial('modules/_codePython', { template: {name:'MyClass','container':{type:'bolt'}}}) %>
  <%- partial('modules/_codePython', { template: {name:'MyClass','container':{type:'drain'}}}) %>
</div>
</div>
<link rel="stylesheet" href="/javascripts/codemirror-4.1/lib/codemirror.css">
<link rel="stylesheet" href="/javascripts/codemirror-4.1/theme/blackboard.css">

<script src="/javascripts/codemirror-4.1/lib/codemirror.js" type="text/javascript"></script>
<script src="/javascripts/codemirror-4.1/mode/clike/clike.js" type="text/javascript"></script>
<script src="/javascripts/codemirror-4.1/mode/python/python.js" type="text/javascript"></script>

<script type="text/javascript">


  function readFile(input,cb) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        cb(e.target.result);
      }

      reader.readAsText(input.files[0]);

    }

  }

  var previousName = "MyClass";
  var sourceType = '<%=current_user.sourceType %>';

  if ( sourceType !== 'All' )
  {
    $("#sourceType").val(sourceType);
    if (sourceType === 'Local')
    {
      $("#langDiv").css('display','inline');
    }
  }

  var editors = {
  }

  var getCurrentEditor = function()
  {
    var lang = $("select#language").val().toLowerCase();
    var type = $("select#type").val();
    return editors[lang+"-"+type];
  };
  var replaceName = function( content,name ) {
    content = content.replace(/(class)(.+?)(?= extends)/, "$1 "+name);
    content = content.replace(/(public)(.+?)(?=\(String)/, "$1 "+name);
    content = content.replace(/(class)(.+?)(?=\(basesinfonier)/, "$1 "+name);
    content = content.replace(/(.+?)(?=\(\)\.run\(\))/, name);
    return content;
  };
  var changeClassName = function () {
    var name = $("input[name=name]").val();
    var editor = getCurrentEditor();
    if (editor)
    {
      var content = editor.getValue();
      content = replaceName(content,name);
      editor.setValue(content);
      //alert(replaced);
    }

  };

  $(function(){
    $("input[name=name]").keyup(changeClassName).change(changeClassName);

    $(".terminal").toggle(false);

    $(".show-code").click(function(){
      $("#code-viewer").toggle(500);
      $(".lnk-"+($("select#language").val())).trigger('click');
      $('html, body').animate({
        scrollTop: $(".show-code").offset().top
      }, 500);

    });
    //$("#code-viewer").toggle(true);

    $("select#language").change(function(){
       var lang = $(this).val();
        $(".lnk-"+lang).trigger('click');
     });
    $("select#type").change(function(){
      var lang = $("select#language").val();
      $(".lnk-"+lang).trigger('click');
    });

    $(".term-show").click(function(){
       var lang = $(this).data("lang");
       var type = $("select#type").val();
       $(".terminal").toggle(false);
      var $terminal =  $(".terminal-"+lang+".terminal-"+type);
      $terminal.toggle(true).focus();
      if (!$terminal.hasClass('loaded'))
      {
        $terminal.addClass('loaded');
        var readOnly = ($("#sourceType").val() != "Local");
        var mode = $(this).data("mode");
        var editor = CodeMirror.fromTextArea($(".txt-"+lang+"-"+type).get(0), {
          height: "1000px",
          width: "900px",
          lineNumbers: true,
          readOnly:readOnly,
          indentUnit: 4,
          mode: {name:mode,
            version: 2,
            singleLineStringErrors: false}
        });
        editor.setOption("theme", 'blackboard');
        editor.setSize(900,900);
        editors[lang+'-'+type] = editor;
        $terminal.addClass('loaded');
      }
      $terminal.trigger('click');
      changeClassName();
      return false;
    });


    $("#moduleForm").submit(function(){
      if ( $("#sourceType").val() == "Local" ) {
        var editor = getCurrentEditor();
        var name = $("input[name=name]").val();
        var content;
        if (editor) {
          content = replaceName(editor.getValue(),name);
        }
        else
        {
          //Never visible
          var lang = $("select#language").val().toLowerCase();
          var type = $("select#type").val();
          content = replaceName($(".txt-"+lang+"-"+type).val(),name);
         }
        $("#sourceCode").val(content);
      }
    });

    $("#sourceType").change(function(){
      var readOnly = ($("#sourceType").val() != "Local");
      for (var x in editors)
      {
        editors[x].setOption("readOnly", readOnly);
      }
    });
    $("#importFrom").change(function(){
      readFile(this,function(data){
        var module = JSON.parse(data);
        loadModuleInForm(module);
        if (module.sourceCode)
        {
          $(".txt-"+module.language.toLowerCase()+"-"+module.container.type).val(module.sourceCode);
          var editor = getCurrentEditor();
          if (editor)
          {
            for (var x in editors)
            {
              editors[x].setValue(module.sourceCode);
            }
          }
        }
        $("select#language").trigger('change');
      });
    })
  });

</script>