
<%if (current_user.isOwner(module) || current_user.isAdmin())  { %>
  <%if (module.sourceType === 'Gist')  { %>
    <a target="_blank" href="<%= module.container.codeURL %>/revisions" data-name="<%= module.name %>" class="button orange margin-button right-button" title="History">History</a>
  <% } else { %>
    <a href="/modules/<%= module.name %>/history" data-name="<%= module.name %>" class="button orange margin-button right-button" title="History">History</a>
  <% }%>
<% }%>
<h1>Module <%= module.name %></h1>

<div class="boxdetail">
  <div class="box-row">
    <div data-name="<%= module.name %>" id="__<%= module.name.replace(/\s/g, "_") %>" class="module detail <%= current_user.isDev()?"isDev":"" %> <%= current_user.isAdmin()?"isAdmin":"" %> <%= current_user.isOwner(module)?"isOwner":"" %>">
      <% if ((module.user_id.equals(current_user._id) && module.status != 'deleted') || module.status == 'published') {%>
      <a data-name="<%= module.name %>" title="add to my tools" class="is-tool add-tools" href="#" style="display:<%= module.isTool ? 'none':'block' %>;" >Add to my tools</a>
      <% }%>
      <a data-name="<%= module.name %>" title="remove from my tools" class="is-tool remove-tools" href="#" style="display:<%= module.isTool ? 'block':'none' %>;">Remove from my tools</a>
      <h2 style="margin-top: 0;"><a href="/modules/<%= module.name %>"><%= module.name %></a></h2>
      <% if (module.container.brandIcon ) { %>
      <img class="brand-icon" src="<%= module.container.brandIcon %>" >
      <% } %>
      <div class="field"><span class="box-title">Type:</span><span class="box-result"><%= module.container.type %></span></div>
      <div class="field"><span class="box-title">Entity:</span><span class="box-result"><%= module.entity %></span></div>
      <div class="field"><span class="box-title">Status:</span><span class="box-result module-status"><%= module.status %></span></div>
      <div class="field"><span class="box-title">Language:</span><span class="box-result"><%= module.language %></span></div>
      <div class="field"><span class="box-title">Source Type:</span><span class="box-result module-source-type"><%= module.sourceType %></span></div>
      <div class="field"><span class="box-title">Code URL:</span><span class="box-result"><%- codeUrl(module.container.codeURL) %></span></div>

      <div class="field"><span class="box-title">Description:</span><span class="box-result"><%- showMarkdown(module.container.description) %></span></div>
      <% if (module.container.fields && module.container.fields.length > 0) { %>
      <div class="fields"><span class="box-title" >Fields:</span>
        <div class="fields-results">
          <table >
            <thead>
            <tr>
              <th width="73">Name</th>
              <th width="55">Label</th>
              <th width="30">Type</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i=0;i<module.container.fields.length;i++) { %>
              <% if (module.container.fields[i]["name"] != "#") { %>
                <tr>
                  <td><%= module.container.fields[i]["name"] %></td>
                  <td><%= module.container.fields[i]["label"] %> <%= module.container.fields[i].required ? "*" : "" %></td>
                  <td><%= module.container.fields[i]["type"] %></td>
                </tr>
              <% } %>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <% } %>
      <% if (module.container.libraries && module.container.libraries.length > 0) { %>
      <div class="fields"><span class="box-title">Libraries:</span>
        <div class="fields-results">
          <table >
            <thead>
            <tr>
              <th width="89">Name</th>
              <th width="80">URL</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i=0;i<module.container.libraries.length;i++) { %>
            <tr>
              <td><%= module.container.libraries[i]["name"] %></td>
              <td><%- codeUrl(module.container.libraries[i]["url"]) %></td>
            </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <% } %>
      <div class="box-details">
        <span class="creado">Created by <a href="/users/<%= module.author.name %>"><%= module.author.name %></a> at <%= module.created_at %></span>
      </div>
      <div class="valuation-sprite">
        <div>
          <span>Vote:</span>
          <div data-name="<%= module.name %>" data-value="<%= module.rating %>" class="flexible-stars votable-stars">
            <% for (var i=1;i<6;i++) { %>
              <i data-value="<%= i %>" class="<%= i<=module.rating ? 'valuations-ok':'valuations-none' %>"></i>
            <% } %>
          </div>
        </div>
      </div>
      <div class="code-template fields">
        <span class="box-title">Template: </span>
        <% if (module.language == 'Java') {%>
          <a href="#" data-lang="java" data-mode="text/x-java" class="term-show box-title">Java</a>
        <% } else { %>
          <a href="#" data-lang="python" data-mode="python" class="term-show box-title">Python</a>
        <% }  %>
        <%- partial('modules/_code'+module.language, { template: module}) %>
      </div>
      <div class="call-inapropiated">
        <% if (!current_user.isOwner(module) && ! module.status == 'predefined') { %>
        <a href="#" class="inapropiated-link" title="Delete">Inapropiated Module</a>
        <% } %>
      </div>
      <div class="box-call">
        <%if (current_user.isOwner(module)) { %>
        <a href="/modules/<%= module.name %>/edit" title="Edit" class="edit-link">Edit</a>
        <% } %>
        <%if (current_user.isAdmin())  { %>
        <a href="#" data-name="<%= module.name %>" style="display:<%= (["private","published"].indexOf(module.status) < 0 ) ? 'none':'block' %>;" class="suspend-module delete-link " title="Suspend">Suspend</a>
        <% } %>
        <%if (current_user.isOwner(module))  { %>
        <a href="#" data-name="<%= module.name %>" class="<%= (module.status == 'deleted') ? 'none':'' %> delete-module delete-link " title="Delete">Delete</a>
        <% }%>
      </div>
    </div>
  </div>
</div>

<div class="boxdetail inapropiated-messages">
  <div class="inapropiated-form" style="display:none;">
  <h2>Inapropriate reports</h2>
  <div class="wrapper-comment-form">
    <form id="inapropiated-messages">
      <textarea id="message"></textarea>
      <input type="submit" value="Report inapropiate module" class="button orange mark-as-inapropiate" data-name="<%= module.name %>" />
    </form>
  </div>
  </div>
  <div class="vote-form"  style="display:none;">
    <h2>Attach a message for your vote</h2>
    <div class="wrapper-comment-form">
      <form id="inapropiated-messages">
        <input type="hidden" id="vote-value" value="1">
        <textarea id="vote-message"></textarea>
        <input type="submit" value="Vote" class="button orange vote-button" data-name="<%= module.name %>" />
      </form>
    </div>
  </div>
  <div class="suspend-form"  style="display:none;">
    <h2>Write the reason for the suspension of the module</h2>
    <div class="wrapper-comment-form">
      <form id="inapropiated-messages">
        <textarea id="suspend-message"></textarea>
        <input type="submit" value="Suspend" class="button orange suspend-button" data-name="<%= module.name %>" />
      </form>
    </div>
  </div>
  <div class="decline-form"  style="display:none;">
    <h2>Write the reason for the rejection of the module</h2>
    <div class="wrapper-comment-form">
      <form id="inapropiated-messages">
        <textarea id="decline-message"></textarea>
        <input type="submit" value="Decline" class="button orange decline-button" data-name="<%= module.name %>" />
      </form>
    </div>
  </div>
  <% if (current_user.isAdmin() && module.reports && module.reports.length > 0) { %>
    <% for (var i=0;i<module.reports.length;i++) { %>
  <div class="wrapper-comments">
    <div class="comment">
      <p><a href="/users/<%=module.reports[i].user_name%>"><%=module.reports[i].user_name%></a> inapropiate report <span><%= timeago(module.reports[i].created_at) %></span></p>
      <p><%- showBrs(module.reports[i].message) %></p>
    </div>
  </div>
    <% } %>
  <% } %>
  <% if (module.rates && module.rates.length > 0) { %>
  <% for (var i=0;i<module.rates.length;i++) { %>
  <div class="wrapper-comments">
    <div class="comment">
      <p><a href="/users/<%=module.rates[i].user_name%>"><%=module.rates[i].user_name%></a><span><%= timeago(module.rates[i].updated_at) %></span></p>
      <p><%- showBrs(module.rates[i].message) %></p>
      <div class="vote">
        <div>
          <span>Vote:</span>
          <div class="flexible-stars">
            <% for (var j=1;j<6;j++) { %>
            <i class="<%= j <= module.rates[i].value ? 'valuations-ok':'valuations-none' %>"></i>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <% } %>

</div>
<div style="display:none;" class="ajax-loading"><div class="ajax-loading-fade"></div></div>

<% if (module.sourceType === 'Gist') {%>
<%- jsTag('gist-embed/gist-embed.js') %>
<code id="gist" data-gister="<%= module.container.codeURL ? module.container.codeURL.replace( /.*\//, '' ):'' %>" data-gist-highlight-line=""></code>
<% } %>


<link rel="stylesheet" href="/javascripts/codemirror-4.1/lib/codemirror.css">
<link rel="stylesheet" href="/javascripts/codemirror-4.1/theme/blackboard.css">

<%- jsTag('codemirror-4.1/lib/codemirror.js') %>
<%- jsTag('codemirror-4.1/mode/clike/clike.js') %>
<%- jsTag('codemirror-4.1/mode/python/python.js') %>

<%- jsTag('modules.js') %>
<%- jsTag('masonry/masonry.pkgd.min.js') %>
<%- jsTag('masonry/multipleFilterMasonry.js') %>
<%- jsTag('infinitescroll/jquery.infinitescroll.min.js') %>
<%- jsTag('timeago/jquery.timeago.js') %>


<script type="text/javascript">

  function setStatusButtons() {
    var status = $(".module-status").html();
    var isOwner = $("div.module.detail").hasClass('isOwner');
    var isAdmin = $("div.module.detail").hasClass('isAdmin');
    var isDev = $("div.module.detail").hasClass('isDev');
    if (status == 'private') {
      if (isOwner) {
        $(".module-status").html(status + ' <a href="#" title="Publish" class="status-link">Publish</a>');
        $(".module-status a").click(function () {
          var modulename = $(this).closest("div.module.detail").data("name");
          changeModuleStatus(modulename, 'published', '', setStatusButtons);
        });
      }
      if (isAdmin)
      {
        $(".suspend-module").toggle(true);
      }
    }
    if (status == 'published') {
      if (isOwner) {
        $(".module-status").html(status + ' <a href="#" title="Privatize" class="status-link">Privatize</a>');

        $(".module-status a").click(function () {
          var modulename = $(this).closest("div.module.detail").data("name");
          changeModuleStatus(modulename, 'private', '', setStatusButtons);
        });
      }
      if (isAdmin)
      {
        $(".suspend-module").toggle(true);
      }
    }
    if ( status == 'developing') {
      if (isOwner) {
        $(".module-status").html(status + ' <a href="#" title="Send Validation Request" class="status-link">Send Validation Request</a>');
        $(".module-status a").click(function () {
          var modulename = $(this).closest("div.module.detail").data("name");
          requestValidation(modulename,'pending',setStatusButtons);
        });
        $(".suspend-module").toggle(false);
      }
    }
    if (status == 'pending') {
      $(".module-status").html(status);
      if (isOwner) {
        $(".module-status").append(' <a href="#" title="Revoke Validation Request" class="revoke status-link">Revoke Validation Request</a>');
        $(".module-status a.revoke").click(function () {
          var modulename = $(this).closest("div.module.detail").data("name");
          changeModuleStatus(modulename, 'developing', '', setStatusButtons);
        });
      }
      if (isAdmin || (isDev && isOwner)) {
        $(".module-status").append(' <a href="#" title="Accept Validation Request" class="accept status-link">Accept Validation Request</a>');
        $(".module-status a.accept").click(function () {
          var modulename = $(this).closest("div.module.detail").data("name");
          validateSourceCode(modulename, 'private', '', setStatusButtons);
        });
        $(".module-status").append(' <a href="#" title="Decline Validation Request" class="decline status-link">Decline Validation Request</a>');
        $(".module-status a.decline").click(function () {
          var modulename = $(this).closest("div.module.detail").data("name");
          showForm('decline');
          $("#decline-message").focus();
        });
      }

      $(".suspend-module").toggle(false);

    }

  }

  var validateSourceCode = function(name,status,reason,cb)
  {
    $.ajax( {url:"/modules/"+name+"/approvesource.json", data:{status:status,reason:reason}, method:"PATCH"}).done(function() {
      var id = name.replace(/\s/g, "_");
      $("#__"+id+" .module-status").html(status);
      cb();
    }).fail(function(result) {
      if (result.responseJSON) {
        alert("Error loading module:\n" + result.responseJSON.description + "\n" + (result.responseJSON.detail || ""));
      }
      else
      {
        alert("Error loading module");
      }
    });
    return false;
  }

  var changeModuleStatus = function(name,status,reason,cb)
  {
    $.ajax( {url:"/modules/"+name+"/changeStatus.json", data:{status:status,reason:reason}, method:"PATCH"}).done(function() {
      var id = name.replace(/\s/g, "_");
      $("#__"+id+" .module-status").html(status);
      cb();
    }).fail(function() {
      alert( "unable to change module status" );
    });
    return false;
  }

  var requestValidation = function(name,status,cb,ignoreWarnings) {
    var url ='/modules/'+name+'/requestvalidation.json';
    var params = {name: name};
    if (ignoreWarnings)
    {
      params.ignoreWarnings = "true";
    }
    $.post( url, params).done(function(data) {
      if (data.result == "warning") {
          if( confirm("The module has some warnings:\n"+data.responseJSON.description) )
          {
            return requestValidation(name,status,cb,true);
          }
      } else {
        var id = name.replace(/\s/g, "_");
        $("#__" + id + " .module-status").html(status);
        cb();
      }
    }).fail(function(result) {
      var info = result.responseJSON;
      if (info) {
        alert("Error compiling module:\n" + info.description + "\n" + (info.detail || ""));
        if (info.lines) {
          var lines = [];
          info.lines.forEach(function(line){
            lines.push(line.number);
          });
          $("#gist").data("gist-id", $("#gist").data("gister"));
          $("#gist").data("gist-highlight-line", lines.join(","));
          $("#gist").gist();
        }
      }
      else
      {
        alert("Error validating");
      }

    });
  }

  var exportModule = function(name)
  {
    window.open("/modules/export/"+name+".json");

    return false;
  }


  $(function(){

    $.ajaxSetup({
      global: true
    });
    $( ".ajax-loading" ).hide( );
    $( document ).ajaxStart(function() {
      $( ".ajax-loading" ).fadeOut(100).fadeIn( 500 );
    });
    $( document ).ajaxStop(function() {
      $( ".ajax-loading" ).hide( );
    });

    $(".term-show").click(function(){
      var lang = $(this).data("lang");
      //$(".terminal").toggle(false);
      $(".terminal-"+lang).toggle().focus();
      if (!$(this).hasClass('loaded'))
      {
        $(this).addClass('loaded');

        var mode = $(this).data("mode");
        var editor = CodeMirror.fromTextArea($(".code-"+lang).get(0), {
          height: "150px",
          lineNumbers: true,
          readOnly:true,
          indentUnit: 4,
          mode: {name:mode,
            version: 2,
            singleLineStringErrors: false}
        });
        editor.setOption("theme", 'blackboard');
        $(this).addClass('loaded');

      }
      return false;
    });
    $(".terminal").toggle(false);
    <% if (current_user.isAdmin() || current_user.isOwner(module)) { %>
      setStatusButtons();
    <% } %>

    $(".suspend-module").click(function() {
      showForm('suspend');
      $("#suspend-message").focus();
    });

    $(".suspend-button").click(function()
    {
      var name = $(this).data("name");
      var message = $("textarea#suspend-message").val();
      if (message.length < 10 )
      {
        alert("message too short!");
        return false;
      }
      changeModuleStatus(name,'developing',message,function(){
        setStatusButtons();
        $(".suspend-form").toggle(false);
        $("textarea#suspend-message").val('');
      });

      return false;
    });

    $(".export-module").click(function() {
      var name = $(this).data("name");
      exportModule(name);
    });
    $(".decline-button").click(function()
    {
      var name = $(this).data("name");
      var message = $("textarea#decline-message").val();
      if (message.length < 10 )
      {
        alert("message too short!");
        return false;
      }
      changeModuleStatus(name,'developing',message,function(){
        setStatusButtons();
        $(".decline-form").toggle(false);
        $("textarea#decline-message").val('');
      });

      return false;
    });

  });

</script>