
<a class="new-wiring-button" href="/modules/new">NEW MODULE +</a>
<span style="float:right;">&nbsp;</span><a class="new-wiring-button" href="/mymodules">MY MODULES</a>
<h1>Top Modules (<%= modules.length %>)</h1>
<br><br>
<div class="sidebar filters">
  <form method="get">
    <input name="q" value="<%= typeof q == "undefined" ? "" : q %>" autofocus="" placeholder="Search" type="text" >
  </form>
  <div class="side-menu-wrapper">
    <ul>
      <li>
        <a href="#" class="all">All</a>
      </li>
    <% [ 'unknown','tweet', 'ip', 'url', 'rssItem', 'domain', 'hash', 'user'].forEach(function(entity){ %>
      <li><input class="none" type="checkbox" value="<%= entity %>" ><a href="#" data-value="entity" class="partial"><%= entity %></a></li>
    <%});%>
      <li>
        <input class="none" type="checkbox" value="mine" ><a href="#" class="mytools">My Tools</a>
      </li>
    </ul>
  </div>
</div>

<div class="separator"></div>
<div id="modules-list" class="moduleslist" >
  <%- partial('partials/module', { collection: modules, small: true }) %>
</div>

<%- jsTag('modules.js') %>
<%- jsTag('masonry/masonry.pkgd.min.js') %>
<%- jsTag('masonry/multipleFilterMasonry.js') %>
<%- jsTag('infinitescroll/jquery.infinitescroll.min.js') %>
