<% if(typeof current_user != "undefined") { %>
<span class="username">Welcome, <%= current_user.name %></span>
<% } %>
<h1 class="dashboard-title">Dashboard</h1>

<div class="dashboard-main-container">
  <div class="dashboard-time-wrapper">
    <div class="dashboard-subtitle-wrapper">TOPOLOGIES <span>(<%= numTopologies %>)</span></div>
    <div id="gauge" class="gaugedash"></div>
  </div>

  <div class="dashboard-stats-container">
    <div class="dashboard-subtitle-wrapper">MODULES <span>(<%= numModules %>)</span></div>
    <div style="width:300px;float:left;">
      <h3>Top Rated</h3>
    <%- partial('partials/moduledash', { collection: topRatedModules, small: true }) %>
    </div>
    <div style="width:300px;float:right;">
      <h3>Top Used</h3>
      <%- partial('partials/moduledash', { collection: topUsedModules, small: true }) %>
    </div>
  </div>
  <div class="dashboard-stats-container right">
    <div class="dashboard-subtitle-wrapper">USERS</div>
    <div style="display:block;">
    <h3>Top Rated</h3>
    <%- partial('partials/userdash', { collection: topRatedUsers, small: true }) %>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/justgage/raphael.2.1.0.min.js"></script>
<script type="text/javascript" src="/javascripts/justgage/justgage.1.0.1.js"></script>

<script>
  var runningTopologies = [<%=runningTopologies%>][0];
  var g = new JustGage({
    id: "gauge",
    value: runningTopologies,
    min: 0,
    max: 10,
    title: "Running"
  });
</script>