<div class="boxdetail">
  <div class="box-row" style="position:relative;" >
    <div id="__<%= topology._id.toHexString() %>" class="user detail topology" data-id="<%= topology._id.toHexString() %>">
      <h2 style="margin-top: 0;"><a href="/topologies/<%= topology._id.toHexString() %>"><%= topology.name %></a></h2>
      &nbsp;<%= topology.templates_count ? " (used as template "+topology.templates_count+ " time"+(topology.templates_count > 1 ?"s":"")+")":"" %>
      <a title="Log" class="log info log-info" href="#" data-id="<%= topology._id.toHexString() %>" >log</a>
      <div style="display:none;position:relative;" class="log-expanded"><div class="log-pending"></div></div>
      <div class="columns-wrapper">
        <div class="column">
          <div class="field"><span class="box-title">Description:</span><span class="box-result">
              <% if(!!topology.config && !!topology.config.properties && topology.config.properties.description) { %>
              <%= topology.config.properties.description %>
              <% } else { %>
              No description yet
              <% } %></span></div>
          <div class="field"><span class="box-title">Tag:</span><span class="box-result"><%= topology.tag %></span></div>
          <div class="field"><span class="box-title">Updated:</span><span class="box-result"><%= timeago( new Date(Date.parse(topology.updated_at)) ) %></span></div>
          <div class="field"><span class="box-title">Last Execution:</span><span class="box-result"><%= timeago( new Date(Date.parse(topology.executed_at)) ) %></span></div>
          <div class="box-details">
            <span class="creado">Created by <a href="/users/<%= topology.author.name %>"><%= topology.author.name %></a> at <%= topology.created_at %></span>
          </div>
          <% if (current_user.isOwner(topology)) {%>
          <a href="#" class="delete-topology delete-link" data-id="<%= topology._id.toHexString() %>" data-name="<%= topology.name %>">Delete</a>
          <a href="/editor?id=<%= topology._id.toHexString() %>" class="edit-link edit-link-cmd" >Edit</a>
          <a href="#" style="display:<%= (topology.status == 'running' || topology.status == 'deleted') ? 'none' : 'block' %>;" title="Launch" class="edit-link launch-link launch-topology" data-id="<%= topology._id.toHexString() %>" data-name="<%= topology.name %>" >Launch</a>
          <a href="#" style="display:<%= topology.status == 'running' ? 'block' : 'none' %>;" title="Stop" class="edit-link launch-link stop-topology" data-id="<%= topology._id.toHexString() %>" data-name="<%= topology.name %>" >Stop</a>
          <a href="#" style="display:<%= topology.status == 'running' ? 'block' : 'none' %>;" title="Update" class="edit-link launch-link update-topology" data-id="<%= topology._id.toHexString() %>" data-name="<%= topology.name %>" >Update</a>
          <% }else{ %>
          <div style="width:400px;height:50px;"></div>
          <% } %>
        </div>
        <div style="<%= current_user.isOwner(topology) ? 'cursor:pointer;':''%>" class="topologies-diagram-list">
          <div class="topology-description none"><%- drawerInfo(topology) %></div>
        </div>
      </div>
      <div style="display:none;" class="ajax-loading"><div class="ajax-loading-fade"></div></div>
    </div>
  </div>
</div>
