<a class="new-wiring-button" href="/editor?new=true">NEW TOPOLOGY +</a>
<span style="float:right;">&nbsp;</span><a class="new-wiring-button" href="/mytopologies">MY TOPOLOGIES</a>
<h1>Topologies</h1>
<form method="get" action="/topologies">
  <div class="add-fields">
    <% if (current_user.isAdmin()){ %>
    <label for="status">Status</label>
    <select name="status">
      <% [ '','active', 'deleted', 'running', 'stopped'].forEach(function(stat){ %>
      <option <%= stat == (status || '') ? 'selected':'' %> ><%= stat %></option>
      <%});%>
    </select>
    <%}%>
    <label for="q">Query</label>
    <input type="text" name="q" value="<%= typeof q == "undefined" ? "" : q %>" autofocus />
    <label for="tag">Tag</label>
    <select name="tag">
      <% [ '','malware', 'phishing','conquer the world', 'identity', 'reputation'].forEach(function(tagName){ %>
      <option <%= tagName == tag ? 'selected':'' %> ><%= tagName %></option>
      <%});%>
    </select>
    <label for="updated">Updated</label>
    <input id="updated-filter" type="text" name="updated" size="10" value="<%= typeof updated == "undefined" ? "" : updated %>" placeholder="yyyy-mm-dd" />
    <input class="search-button" type="submit" value="Filter" />
    <% if( typeof q != "undefined" && q.length > 0)  { %>
    <a href="/topologies">clear</a>
    <% } %>
    <div class="add-fields"></div>
  </div>
</form>
<% if (current_user.isAdmin()){ %>
<div id="topologies-list">
<%- partial('topologies/_topologyadmin', { collection: topologies, small: true }) %>
</div>
<%}else{%>
<div id="topologies-list">
<%- partial('topologies/_topology', { collection: topologies, small: true }) %>
</div>
<%}%>

<% if (topologies.length == 0) {%>
  <span>No topologies found!</span>
<%}%>
<% var currentpage = page || 1; %>
<div id="page-nav" style="display:none;">
  <a href="/topologies?page=<%= ""+(currentpage +1) %>&q=<%= q %>&status=<%= status %>&tag=<%= tag %>&updated=<%= updated %>" >next</a>
</div>

<%- jsTag('masonry/masonry.pkgd.min.js') %>
<%- jsTag('infinitescroll/jquery.infinitescroll.min.js') %>
<%- jsTag('topologies.js') %>

<script type="text/javascript" >
  $(function(){
    $("#updated-filter").datepicker({
      dateFormat:"yy-mm-dd"
    });
  });
</script>