<a class="new-wiring-button" href="/editor?new=true">NEW TOPOLOGY +</a>
<span style="float:right;">&nbsp;</span><a class="new-wiring-button" href="/topologies">TOPOLOGIES</a>
<h1>My Topologies</h1>
<div id="topologies-list">
<%- partial('topologies/_topology', { collection: topologies, small: true }) %>
</div>

<% if (topologies.length == 0) {%>
  <span>No topologies found!</span>
<%}%>
<% var currentpage = page || 1; %>
<div id="page-nav" style="display:none;">
  <a href="/mytopologies?page=<%= ""+(currentpage +1) %>" >next</a>
</div>

<%- jsTag('masonry/masonry.pkgd.min.js') %>
<%- jsTag('infinitescroll/jquery.infinitescroll.min.js') %>
<%- jsTag('topologies.js') %>

<script type="text/javascript" >
  $(function(){
    $("#updated-filter").datepicker({
      dateFormat:"yy-mm-dd"
    });
  });
</script>