
<%- messages() %>

<h1>Topology <%= topology.name %></h1>

<div id="topologies-list">
  <% if (current_user.isAdmin()){ %>
    <%- partial('topologies/_topologyadmin', { topologyadmin: topology, small: false}) %>
  <%}else{%>
    <%- partial('topologies/_topology', { topology: topology, small: false }) %>
  <%}%>
</div>
<div class="boxdetail">
  <div class="vote-form"  style="display:none;">
    <h2>Attach a message for your vote</h2>
    <div class="wrapper-comment-form">
      <form id="inapropiated-messages">
        <input type="hidden" id="vote-value" value="1">
        <textarea id="vote-message"></textarea>
        <input type="submit" value="Vote" class="button orange vote-button" data-id="<%= topology._id.toHexString() %>" />
      </form>
    </div>
  </div>
<% if (topology.rates && topology.rates.length > 0) { %>
  <% for (var i=0;i<topology.rates.length;i++) { %>
    <div class="wrapper-comments">
      <div class="comment">
        <p><a href="/users/<%=topology.rates[i].user_name%>"><%=topology.rates[i].user_name%></a><span><%= timeago(topology.rates[i].updated_at) %></span></p>
        <p><%- showBrs(topology.rates[i].message) %></p>
        <div class="vote">
          <div>
            <span>Vote:</span>
            <div class="flexible-stars">
              <% for (var j=1;j<6;j++) { %>
              <i class="<%= j <= topology.rates[i].value ? 'valuations-ok':'valuations-none' %>"></i>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
<% } %>
</div>

<% var executions = topology.executions || [] %>
<h2>Executions</h2>
<br>
<div id="activities-list">

  <% for(var i = 0 ; i < executions.length ; i++) {
    var execution = executions[i]; %>
  <div class="execution">
    <h3><%= timeago( new Date(Date.parse(execution.created_at)) ) %></h3>
    <a title="Log" class="log info log-info" href="#">log</a>
    <div class="log-expanded">log details here</div>
    <div class="field"><%= execution.duration %>ms</div>

  </div>
  <%}%>
</div>
<%- jsTag('topologies.js') %>

<script type="text/javascript" >

$(function(){
  function changeStars(current)
  {
    $(".votable-stars i").each(function(){
      $(this).removeClass("valuations-none");
      $(this).removeClass("valuations-ok");
      if ($(this).data("value") <= current)
      {
        $(this).addClass("valuations-ok");
      }
      else
      {
        $(this).addClass("valuations-none");
      }
    });
  }

  $(".vote-button").click(function()
  {
    var id = $(this).data("id");
    var previous = $(".votable-stars").data("value");
    var value = $("input#vote-value").val();
    var message = $("textarea#vote-message").val();

    $.post( "/topologies/"+id+"/rate.json", {value: value,message:message},'json').done(function(result) {
      var current = ""+result.rating;
      changeStars(current);
      $(".votable-stars").data("value",current);
      $(".vote-form").toggle(false);
      alert( "Your vote has been sent successfully" );

    }).fail(function(data) {
      alert( "Topology cannot be rated" );
      $(".vote-form").toggle(false);
      changeStars(previous);
    });
    return false;
  });

  $(".votable-stars i").click(function()
  {
    var value = $(this).data("value");
    $("#vote-value").val(value);
    changeStars(value);
    $(".vote-form").toggle(true);
    $("#vote-message").focus();
    $('html, body').animate({
      scrollTop: $(".valuation-sprite").offset().top
    }, 500);
  });
});
</script>