
<div id="__<%= module.name.replace(/\s/g, "_") %>" class="<%= module.entity %> entity <%= module.isTool ? 'mine':'' %> userinfos">


  <% if ((module.user_id && module.user_id.equals(current_user._id) && module.status != 'deleted') || module.status == 'published') {%>
  <a data-name="<%= module.name %>" title="add to my tools" class="is-tool add-tools" href="#" style="display:<%= module.isTool ? 'none':'block' %>;" >Add to my tools</a>
  <% }%>
  <a data-name="<%= module.name %>" title="remove from my tools" class="is-tool remove-tools" href="#" style="display:<%= module.isTool ? 'block':'none' %>;">Remove from my tools</a>
  <h2 style="margin-top: 0;"><a href="/modules/<%= module.name %>"><%= module.name %></a></h2>
  <div class="field-group">
  <div class="field"><span class="box-title" >Type:</span><span class="box-result" ><%= module.container.type %></span></div>
  <div class="field"><span class="box-title" >Entity:</span><span class="box-result" ><%= module.entity %></span></div>
  <div class="field"><span class="box-title" >Status:</span><span class="box-result module-status" ><%= module.status %></span></div>
  <div class="field"><span class="box-title" >Language:</span><span class="box-result" ><%= module.language %></span></div>
  </div>
  <% if (module.container.brandIcon ) { %>
  <img class="brand-icon" src="<%= module.container.brandIcon %>" >
  <% } %>
  <% if (module.sourceType == 'Gist') {%>
  <div class="field"><span class="box-title" >Code URL:</span><span class="box-result" ><%- codeUrl(module.container.codeURL) %></span></div>
  <% } %>
  <div class="field"><span class="box-title" >Description:</span><span class="box-result" ><%- showMarkdown(module.container.description) %></span></div>
  <% if (module.container.fields && module.container.fields.length > 0) { %>
  <div class="fields"><span class="box-title" >Fields:</span>
      <div class="fields-results">
        <table width="192px">
          <thead>
          <tr>
            <th width="73">Name</th>
            <th width="55">Label</th>
            <th width="30">Type</th>
          </tr>
          </thead>
          <tbody>
          <% for (var i=0;i<module.container.fields.length;i++) { %>
            <% if (module.container.fields[i]["name"] != "#") { %>
              <tr>
                <td><%= module.container.fields[i]["name"] %></td>
                <td><%= module.container.fields[i]["label"] %> <%= module.container.fields[i].mandatory ? "*" : "" %></td>
                <td><%= module.container.fields[i]["type"] %></td>
              </tr>
            <% } %>
          <% } %>
          </tbody>
        </table>
      </div>
  </div>
  <% } %>
  <% if (module.container.libraries && module.container.libraries.length > 0) { %>
  <div class="fields"><span class="box-title">Libraries:</span>
    <div class="fields-results">
      <table width="192px">
        <thead>
        <tr>
          <th width="89">Name</th>
          <th width="80">URL</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i=0;i<module.container.libraries.length;i++) { %>
          <tr>
            <td><%= module.container.libraries[i]["name"] %></td>
            <td><%- codeUrl(module.container.libraries[i]["url"]) %></td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <% } %>

  <div class="box-details">
    <span class="creado">Created by <a href="/users/<%= module.author.name %>"><%= module.author.name %></a> at <%= module.created_at %></span>
  </div>
  <% if (current_user.isOwner(module)) {%>
  <a href="/modules/<%= module.name %>/edit" title="Edit" class="edit-link">Edit</a>
  <% } %>
  <% if (current_user.isOwner(module)) {%>
  <a href="#" data-name="<%= module.name %>" style="display:<%= (module.status == 'deleted') ? 'none':'block' %>" class="delete-module delete-link" title="Delete">Delete</a>
  <% } %>

</div>
