<% var module = moduledash %>
<div id="__<%= module.name.replace(/\s/g, "_") %>" class="<%= module.entity %> entity <%= module.isTool ? 'mine':'' %> userinfos">

  <h2 style="margin-top: 0;"><img src="<%= module.container.icon.replace("-user","") %>"> <a href="/modules/<%= module.name %>"><%= module.name %></a></h2>
  <% if (module.times_used) {%>
  <div class="valuation-sprite">
    <div>
      <div data-name="<%= module.name %>" data-value="<%= module.rating %>" class="flexible-stars">
        <% for (var i=1;i<=module.times_used;i++) { %>
          <% if ((i-14) % 25 == 0) {%>
          <i style="margin-left:16px;" ><img src="/images/user-flat.png"></i>
          <% } else { %>
          <i><img src="/images/user-flat.png"></i>
          <% }  %>
        <% } %>
      </div>
    </div>
  </div>
  <% } else {%>
  <div class="valuation-sprite">
    <div>
      <div data-name="<%= module.name %>" data-value="<%= module.rating %>" class="flexible-stars">
        <% for (var i=1;i<6;i++) { %>
        <i data-value="<%= i %>" class="<%= i<=module.rating ? 'valuations-ok':'valuations-none' %>"></i>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>
  <div class="box-details">
    <span class="creado">Created  <%= timeago(module.created_at) %>, updated <%= timeago(module.updated_at) %></span>
  </div>

</div>
