<% var topology = topologyrow %>
  <tr data-id="<%= topology._id.toHexString() %>">
    <td><a href="#"><%= topology.name %></a></td>
    <td>Published</td>
    <td>Stopped</td>
    <td><%= timeago( new Date(Date.parse(topology.updated_at)) ) %></td>
    <td><a href="/editor?id=<%= topology._id.toHexString() %>">Edit</a> <a href="#" class="delete-topology"  data-name="<%= topology.name %>">Delete</a></td>
    <td class="description" style="display:none"><%= topology.config.properties.description %></td>
  </tr>
