
<div id="__<%= user.name %>" class="userinfos">

  <%- partial('partials/gravatar', { info: user }) %>
  <h2 style="margin-top: 0;"><a href="/users/<%= user.name %>"><%= user.name %></a><i style="display:<%= (current_user.isAdmin() && user.status == 'blocked') ? 'block':'none' %>" class="blocked"></i> <%- twitterLink(user) %></h2>
  <div style="clear:both;">
    <div class="field"><span class="box-title" >Name:</span><span class="box-result" ><%= user.firstname %></span></div>
    <div class="field"><span class="box-title" >Surname:</span><span class="box-result" ><%= user.surname %></span></div>
    <div class="field"><span class="box-title" >Role:</span><span class="box-result" ><%= user.role %></span></div>
    <div class="field"><span class="box-title" >Topologies:</span><span class="box-result" ><%= user.topologies_count ? user.topologies_count : 0 %></span></div>
    <div class="field"><span class="box-title" >Modules:</span><span class="box-result" ><%= user.modules_count ? user.modules_count : 0 %></span></div>
    <div class="field"><span class="box-title" >Rating:</span><span class="box-result" ><%= user.modules_rate ? user.modules_rate : 0%></span></div>
  </div>
  <div class="box-details">
  <span style="font-size: 70%; color: #aaa;" title="<%= timeago(user.created_at) %>">Member since <%= user.created_at %></span>
  </div>
  <div>
    <% if (current_user.isAdmin()) {%>
  <a href="/users/<%= user.name %>/edit" data-name="<%= user.name %>" style="display:<%= current_user.isAdmin() ? 'block':'none' %>" class="edit-link" title="Edit">Edit</a>
    <% } %>
    <% if (current_user.isAdmin()) {%>
  <a href="#" data-name="<%= user.name %>" style="display:<%= (current_user.isAdmin() && user.status == 'blocked') ? 'block':'none' %>" class="unblock-link delete-link" title="Unblock">Unblock</a>
  <a href="#" data-name="<%= user.name %>" style="display:<%= (current_user.isAdmin() && user.status != 'blocked') ? 'block':'none' %>" class="block-link delete-link" title="Block">Block</a>
    <% } %>
  </div>
</div>

