<% var user = userdash %>
<div id="__<%= user.name %>" class="userinfos">
  <%- partial('partials/gravatar', { info: userdash }) %>
	<h2 style="margin-top: 0;"><a href="/users/<%= user.name %>"><%= user.name %></a><i style="display:<%= (current_user.isAdmin() && user.status == 'blocked') ? 'block':'none' %>" class="blocked"></i></h2>
  <div class="valuation-sprite">
    <div>
      <div class="flexible-stars">
        <% for (var i=1;i<6;i++) { %>
        <i data-value="<%= i %>" class="<%= i<=user.modules_rate ? 'valuations-ok':'valuations-none' %>"></i>
        <% } %>
      </div>
    </div>
  </div>
  <div class="box-details">
  <span style="font-size: 70%; color: #aaa;" title="<%= timeago(user.created_at) %>">Member since <%= user.created_at %></span>
  </div>
</div>

