
<% if (errors && errors.length >0 ) {%>
<div id="messages">
<ul class="error" >
<% for (var i=0; i<errors.length;i++) {%>
  <li><span class="errlabel" data-index="<%= (typeof errors[i]["index"] === "undefined")  ? '' : ''+errors[i]["index"]   %>" ><%= errors[i].param %></span> <span><%= errors[i].msg %></span></li>
<% }%>
</ul>
</div>
<% }%>

<form id="sign-up" action="/users<%= user["_id"] ? "/"+ ident : "" %>" method="POST">
  <div class="formblock">
    <input type="hidden" name="_method" value="<%= method %>">
    <input type="hidden" name="_id"  >
    <fieldset class="user-data">
      <div class="required"><label for="name">Username</label><input type="text" name="name"></div>
      <div class="required"><label for="email">Email</label><input type="text" name="email"></div>
      <div class="required"><label for="firstname">Name</label><input type="text" name="firstname"></div>
      <div class="required"><label for="surname">Surname</label><input type="text" name="surname"></div>
      <div class="required"><label for="twitter">Twitter</label><input type="text" name="twitter"></div>
    </fieldset>
    <fieldset>
      <div class="required"><label for="organization">Organization</label><input type="text" name="organization"></div>
      <div class="required"><label for="email_visibility">Show email</label><input type="checkbox" name="email_visibility"></div>
      <div class="required"><label for="timezone">Time Zone</label>
        <select name="timezone" id="timezone">
          <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
          <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
          <option value="-10.0">(GMT -10:00) Hawaii</option>
          <option value="-9.0">(GMT -9:00) Alaska</option>
          <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
          <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
          <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
          <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
          <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
          <option value="-3.5">(GMT -3:30) Newfoundland</option>
          <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
          <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
          <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
          <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
          <option value="1.0" selected>(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
          <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
          <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
          <option value="3.5">(GMT +3:30) Tehran</option>
          <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
          <option value="4.5">(GMT +4:30) Kabul</option>
          <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
          <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
          <option value="5.75">(GMT +5:45) Kathmandu</option>
          <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
          <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
          <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
          <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
          <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
          <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
          <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
          <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
        </select>
      </div>

      <div class="required"><label for="web">Web</label><input type="text" name="web"></div>
    <% if (current_user.isAdmin()) {%>
      <div class="required"><label for="status">Status</label>
        <select name="status" editable="true">
          <option selected>active</option>
          <option>deleted</option>
          <option>blocked</option>
        </select>
      </div>
      <div class="required"><label for="sourceType">Source code type</label>
        <select name="sourceType" editable="true">
          <option selected>All</option>
          <option>Gist</option>
          <option>Local</option>
        </select>
      </div>
      <div class="required"><label for="role">Role</label>
        <select name="role" editable="true" >
          <option selected>user</option>
          <option>dev</option>
          <option>admin</option>
         </select>
      </div>
      <div class="required"><label for="parallelism">Can choose parallelism</label><input type="checkbox" name="parallelism"></div>
    <% } %>
      <div class="required"><label for="email_notifications">Receive email notifications</label><input type="checkbox" name="email_notifications"></div>
    </fieldset>
    <fieldset>
      <% if (current_user.isAdmin()) {%>
      <div class="required"><label for="running_topologies_capacity">Running topologies capacity</label><input type="text" name="running_topologies_capacity"></div>
      <% } %>
      <% if (config('latch').enabled && current_user.equals(user) ) {%>
      <div  title="Pair with Latch" class="latch"><img src="/images/latch.png" >
        <div class="latchBody">
          <div style="display:<%= current_user.latch ? "block": "none" %>;" class="latchForm">
            <form  class="unpair" >
              You are currently paired.
              <input id="latchUnpairButton" class="button" type="button"  value="Unpair">
            </form>
          </div>
          <div style="display:<%= current_user.latch ? "none": "block" %>;" class="latchForm">
            <form  class="pair" >
              <input id="latchKey" type="text" name="key" placeholder="Type here the latch key">
              <input id="latchButton" class="button" type="button"  value="Pair">
            </form>
          </div>
        </div>
      </div>
      <% } %>
   </fieldset>

    <input class="button" type="submit" value="Create" />
  </div>
</form>
<script type='text/javascript'>

  var user = <%- JSON.stringify(user) %>;

  var assignElem = function (type,name,container)
  {
    if (typeof container[name] != 'undefined' )
      $(type+"[name='"+name+"']").val(container[name]);
  }
  var assignInput = function (name,container)
  {
    assignElem("input",name,container)
  }

  var assignCheck = function (name,container)
  {
    if (container[name])
      $("input[name='"+name+"']").prop('checked',true);
  }


  if (user)
  {
    ['_id','name','twitter','firstname','surname','organization','email','web','running_topologies_capacity'].forEach ( function(field){
      assignInput(field,user);
    });

    ['email_visibility','parallelism','email_notifications'].forEach ( function(field){
      assignCheck(field,user);
    });

    ['status','role','timezone','sourceType'].forEach ( function(field){
      assignElem("select",field, user);
    });

    //Edit
    if (user._id)
    {
      //$("input[name='name']").attr('readonly', true);

      $("input[type='submit']").val("Update");
    }
  }

  var redesign = function(name)
  {
    var parsed = name.split(".");
    var result = "";
    for (var i=(parsed.length - 1);i>=0;i--)
    {
      if (result != "")
      {
        result = parsed[i]+"["+result+"]";
      }
      else
      {
        result = parsed[i];
      }
    }
    return result;
  }


  var pairWithLatch = function(key) {
    var url ='/sessions/pairLatch.json';
    $.post( url,{key:key}).done(function() {
      alert("Succesfully paired with Latch");
      $(".latch div").toggle();
    }).fail(function(data) {
      alert( "Unable to pair" );
    });
  }

  var unpairWithLatch = function(key) {
    var url ='/sessions/unpairLatch.json';
    $.post( url,{key:key}).done(function() {
      alert("Succesfully unpaired from Latch");
      $(".latch div").toggle();
    }).fail(function(data) {
      alert( "Unable to unpair" );
    });
  }


  $( function(){


    $(".errlabel").each(function(){
      var name = $(this).html();

     var changeLabel = $("label[for='"+redesign(name)+"']");
     var change = $("input[name='"+redesign(name)+"']");
     var index = ""+ $(this).data("index");
     var indexInfo = "";
     if (index != '')
     {
       $(change.get(parseInt(index))).addClass("error");
       indexInfo="["+index+"]";
     }
     else
     {
       change.addClass("error");
     }

      if (changeLabel.length > 0)
        $(this).html(changeLabel.html()+indexInfo+": ");
    });

    $(".latch img").click(function(){
      $(".latchBody").toggle();
    });
    $("#latchButton").click(function(){
      pairWithLatch($("#latchKey").val());
    });
    $("#latchUnpairButton").click(function(){
      unpairWithLatch();
    });

    $("select[name='role']").change(function(){
      if ($(this).val() === 'dev')
      {
        $("select[name='sourceType']").val('All');
        $("input[name='parallelism']").prop('checked',true);
      }
    });
  });
</script>
