<div class="boxdetail">
  <div class="box-row">
    <div id="__<%= module.name.replace(/\s/g, "_") %>" class="user detail">
      <h2 style="margin-top: 0;"><a href="/modules/<%= module.name %>"><%= module.name %></a></h2>
      <div class="field"><span class="box-title" >Description:</span><span class="box-result" ><%- module.container.description %></span></div>
      <div class="column"><span class="box-title" >Type:</span><span class="box-result" ><%= module.container.type %></span></div>
      <div class="column"><span class="box-title" >Status:</span><span class="box-result module-status" ><%= module.status %></span></div>
      <div class="box-details">
        <span class="creado">Created at <%= module.created_at %></span>
      </div>
      <div class="valuation-sprite">
        <div>
          <span>Rating:</span>
          <div  class="flexible-stars">
            <% for (var i=1;i<6;i++) { %>
            <i class="<%= i<=module.rating ? 'valuations-ok':'valuations-none' %>"></i>
            <% } %>
          </div>
        </div>
        <div style="float:right;"><span >used in <%= module.topologies_count %> <%= module.topologies_count == 1 ? 'topology':'topologies' %></span></div>
      </div>
    </div>
  </div>
</div>
