
<h1>
  <%- partial('partials/gravatar', { info: user }) %>
  User <%= user.name %>
</h1>

<%- partial('users/_detail', { collection: [user], small: true }) %>


<div class="columns">
  <div class="user-tools">
    <h1>Topologies <span>(<%= user.topologies.length %>)</span></h1>
    <%- partial('users/_topology', { collection: user.topologies, small: true }) %>
  </div>
  <div class="user-tools right">
    <h1>Modules <span>(<%= user.modules.length %>)</span></h1>
    <%- partial('users/_module', { collection: user.modules, small: true }) %>
  </div>
</div>

<script type="text/javascript">

  var deleteUser = function(name) {
    var url ='/users/'+name+'.json';
    YAHOO.util.Connect.asyncRequest('DELETE', url, {
      success: function(o) {
        $("#__"+name+" .status-info").html('deleted');
      },
      failure: function(o) {
        var error = o.status + " " + o.statusText;
        alert("cannot remove " +name);
      }
    });
  }

  $(function(){
    $(".delete-link").click(function()
    {
      var name = $(this).data("name");
      var confirmation = confirm("Do you want to remove "+name+"?");
      if (confirmation)
      {
        deleteUser(name);
      }
      return false;
    });
  });
</script>
