<% if (current_user.isAdmin()) {%>
<a class="new-wiring-button" href="/users/new">NEW USER +</a>
<span style="float:right;">&nbsp;&nbsp;</span>
<a class="new-wiring-button" href="/invitations/new">INVITE +</a>
<span style="float:right;">&nbsp;&nbsp;</span>
<% } %>
<a class="new-wiring-button" href="/users/<%= current_user.name %>">MY PROFILE</a>
<h1>Users (<%= total %>)</h1>
<form method="get" action="/users" >
  <div class="add-fields">
    <label for="role">Role</label>
    <select name="role" editable="true" >
      <option></option>
      <option <%= role  == "user" ? "selected" : "" %> >user</option>
      <option <%= role  == "admin" ? "selected" : "" %> >admin</option>
    </select>
    <label for="q">Query</label>
    <input type="test" name="q" value="<%= typeof q == "undefined" ? "" : q %>" autofocus />
    <label for="sortby">Sort by</label>
    <select name="sortby" >
      <option></option>
      <% var columns = {name:"Name", firstname:"First Name", surname:"Surname", role:"Role", topologies_count:"Topologies", modules_count:"Modules", modules_rate:"Modules rate" }; %>
      <% if (current_user.isAdmin()) {%>
      <% columns.blocked = "Blocked"; %>
      <% } %>
      <% for (x in columns) {%>
      <option <%= sortby  == x ? "selected" : "" %> value="<%= x %>"  ><%= columns[x] %></option>
      <% } %>
    </select>
    <label for="desc">Direction</label>
    <select name="desc" >
      <option></option>
      <option value="0" <%= desc  == '0' ? "selected" : "" %> >Ascending</option>
      <option value="1" <%= desc  == '1' ? "selected" : "" %> >Descending</option>
    </select>
    <input class="search-button" type="submit" value="Search" />
    <% if( typeof q != "undefined") { %>
    <a href="/users">clear</a>
    <% } %>
  <% if (current_user.isAdmin() ) {%>
  <div class="add-fields">
    <label for="status">Status</label>
    <select name="status">
      <% [ '','deleted', 'active', 'blocked'].forEach(function(stat){ %>
      <option <%= stat== state ? 'selected':'' %> ><%= stat %></option>
      <%});%>
    </select>
  </div>
  <% } %>
   <div class="add-fields"></div>
  </div>

</form>
<div id="userlist">
	<%- partial('partials/user', { collection: users, small: true }) %>
</div>

<% var currentpage = page || 1%>
<div id="page-nav" style="display:none;">
  <a href="/users?page=<%= ""+(currentpage +1) %>&q=<%= q %>&role=<%= role %>&sortby=<%= sortby %>&desc=<%= desc %>&status=<%= state %>">next</a>
</div>

<%- jsTag('users.js') %>
<%- jsTag('masonry/masonry.pkgd.min.js') %>
<%- jsTag('infinitescroll/jquery.infinitescroll.min.js') %>

